<!doctype html>
<html>
    <head>
        <title>Resigter</title>
    </head>
    <body>
        <form action = "/submit" method = "post">
            <label>User Name </label>
            <input type = 'text' id = 'username' name = 'username' placeholder = 'username' required>
            <br>
            <label>Email </label>
            <input type = 'text' id = 'email' name = 'email' placeholder = 'email' required>
            <br>
            <button type ='submit'>Submit</button>
        </form>
    </body>
</html>